<section class="partner-section py-12 overflow-hidden bg-slate-50">
  <div class="max-w-7xl mx-auto px-6 mb-8 text-center">
    <h3 class="text-xs font-black uppercase tracking-[0.3em] text-slate-400">
      Data Consultants <span>Partner Network </span>
    </h3>
  </div>
  <div class="relative flex overflow-x-hidden">
    <div class="logo-scroll py-2 space-x-20 items-center">
      <img src="assets/images/brands1.png" alt="" />
      <img src="assets/images/brands2.png" alt="" />
      <img src="assets/images/brands3.png" alt="" />
      <img src="assets/images/brands4.png" alt="" />
      <img src="assets/images/brands5.png" alt="" />
      <img src="assets/images/brands6.png" alt="" />
      <img src="assets/images/brands7.png" alt="" />
      <img src="assets/images/brands8.png" alt="" />
      <img src="assets/images/brands9.png" alt="" />
      <img src="assets/images/brands10.png" alt="" />
      <img src="assets/images/brands11.png" alt="" />

      <!-- Loop -->
      <img src="assets/images/brands1.png" alt="" />
      <img src="assets/images/brands2.png" alt="" />
      <img src="assets/images/brands3.png" alt="" />
      <img src="assets/images/brands4.png" alt="" />
      <img src="assets/images/brands5.png" alt="" />
      <img src="assets/images/brands6.png" alt="" />
      <img src="assets/images/brands7.png" alt="" />
      <img src="assets/images/brands8.png" alt="" />
      <img src="assets/images/brands9.png" alt="" />
      <img src="assets/images/brands10.png" alt="" />
      <img src="assets/images/brands11.png" alt="" />

      <!-- Loop -->
      <img src="assets/images/brands1.png" alt="" />
      <img src="assets/images/brands2.png" alt="" />
      <img src="assets/images/brands3.png" alt="" />
      <img src="assets/images/brands4.png" alt="" />
      <img src="assets/images/brands5.png" alt="" />
      <img src="assets/images/brands6.png" alt="" />
      <img src="assets/images/brands7.png" alt="" />
      <img src="assets/images/brands8.png" alt="" />
      <img src="assets/images/brands9.png" alt="" />
      <img src="assets/images/brands10.png" alt="" />
      <img src="assets/images/brands11.png" alt="" />

      <!-- <i class="fab fa-sap text-5xl"></i>
      <i class="fab fa-aws text-5xl"></i>
      <i class="fab fa-microsoft text-4xl"></i>
      <i class="fab fa-salesforce text-5xl"></i>
      <i class="fab fa-google text-4xl"></i>
      <i class="fab fa-oracle text-5xl"></i> -->
    </div>
  </div>
</section>
