<section class="w-full h-[450px] object-cover">
    <img src="assets/images/mission-vision.jpg" alt="Salesforce Banner" class="w-full h-[350px] object-cover" />
</section>
<section class="relative w-full h-[200px] md:h-[220px] flex items-center justify-center text-center">
    <div class="max-w-4xl mx-auto px-6 text-center">

        <div>
            <h1 class="text-5xl font-black text-slate-900 mb-12">
                Mission Statement :
            </h1>

            <p class="text-lg text-slate-600 leading-relaxed">
                We provide end-to-end solutions for our clients, right from strategic consulting to full
                implementation. We deliver solutions as per business demands, efficiently and with the required
                security. We also assist businesses to transform their application and infrastructure landscape
                as per the new wave.
            </p>
        </div>

    </div>
</section>